 :root {
     --color-brand: #2E2F42;
     --color-primary: #4D5AE5;
     --colol-secondary: #434455;
 }

 body {
     background: #FFFFFF;
     font-family: 'Roboto';
 }

 ul {
     list-style: none;
 }

 .logo-first {
     color: var(--color-primary);
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 800;
     text-decoration: none;
     font-size: 18px;
     line-height: 1.333;
 }

 .logo-second {
     color: var(--color-brand);
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 800;
     text-decoration: none;
     font-size: 18px;
     line-height: 1.333;
 }

 .header-link {
     color: var(--color-brand);
     font-style: normal;
     font-weight: 500;
     text-decoration: none;
     font-size: 16px;
     line-height: 1.5;
 }

 .address {
     color: var(--colol-secondary);

 }

 .link {
     font-style: normal;
     font-weight: 400;
     text-decoration: none;
     font-size: 16px;
     line-height: 1.5;
     color: var(--colol-secondary);
 }

 .section-hero {
     background: var(--color-brand);
     text-align: center;
 }

 .hero-tital {
     color: #FFFFFF;
     background: var(--color-brand);
     font-style: normal;
     font-weight: 700;
     text-align: center;
     font-size: 56px;
     line-height: 1.071;
 }

 .button-light {
     background: var(--color-primary);
     ;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: #FFFFFF;
     font-style: normal;
     font-weight: 500;
     text-align: center;
     font-size: 16px;
     line-height: 1.5;
 }

 .button-light:hover {
     border-color: blueviolet;
     text-align: center;

 }

 .section {
     color: var(--color-brand);
     font-style: normal;
     font-weight: 700;
     text-align: center;
     font-size: 36px;
     line-height: 1.111;
 }

 .section-header {
     color: var(--color-brand);
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
 }

 .paragraph {
     color: var(--colol-secondary);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
 }

 .footer {
     background: var(--color-brand);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;

 }

 .logo-seconds {
     color: #F4F4FD;
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.166;
 }

 .paragraph-footer {
     color: #E7E9FC;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
 }

 .section-portfolio {
     box-sizing: border-box;
     border-radius: 4px;
 }

 .button-portfolio {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: #4D5AE5;
 }